@import "vars";

h1 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.1em;
  color: $base-color;
  @media screen and (max-width: 960px) {
    font-size: 24px;
  }
}
h2 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: $base-black;
  margin-bottom: 15px;
  @media screen and (max-width: 960px) {
    font-size: 18px;
  }
}
h3 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: $base-black;
  margin-bottom: 15px;
  @media screen and (max-width: 960px) {
    font-size: 16px;
  }
}
p {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: $base-black;
  margin-bottom: 15px;
  @media screen and (max-width: 960px) {
    font-size: 14px;
  }
}