<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ИРО</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div id="app">
    <div class="default-ui">
        <div class="default-ui_element">
            <div class="default-ui_header">
                <div class="default-ui_header_title">Заголовок</div>
                <button class="default-ui_header_copy">Копировать</button>
            </div>
            <div class="default-ui_element_content">
                <div class="heading">
                    <div class="wrapper">
                        <h1>ЗАГОЛОВОК МОЖЕТ БЫТЬ В ТРИ СТРОКИ, НО ЛУЧШЕ В ДВЕ СТРОКИ.</h1>
                        <h2>Подзаголовок МОЖЕТ БЫТЬ В ТРИ или в четыре СТРОКИ. <br /> Подзаголовок МОЖЕТ БЫТЬ В ТРИ или в четыре СТРОКИ.</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="default-ui_element">
            <div class="default-ui_header">
                <div class="default-ui_header_title">Заголовок</div>
                <button class="default-ui_header_copy">Копировать</button>
            </div>
            <div class="default-ui_element_content">
                <div class="heading heading--bg" style="background-image: url(/images/flower-827000.png)" >
                    <div class="wrapper">
                        <h1>ЗАГОЛОВОК МОЖЕТ БЫТЬ В ТРИ СТРОКИ, НО ЛУЧШЕ В ДВЕ СТРОКИ.</h1>
                        <h2>Подзаголовок МОЖЕТ БЫТЬ В ТРИ или в четыре СТРОКИ. <br /> Подзаголовок МОЖЕТ БЫТЬ В ТРИ или в четыре СТРОКИ.</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="default-ui_element">
            <div class="default-ui_header">
                <div class="default-ui_header_title">TEXT PAGEQ</div>
                <button class="default-ui_header_copy">Копировать</button>
            </div>
            <div class="default-ui_element_content">
                <section class="text-page">
                    <div class="wrapper">
                        <h1>ТЕКСТ №1</h1>
                        <h2>Подзаголовок</h2>
                        <h3>Раздел</h3>
                        <p>Для современного мира внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании инновационных методов управления процессами. Кстати, сторонники тоталитаризма в науке призваны к ответу.</p>
                        <p>Для современного мира новая модель организационной деятельности обеспечивает актуальность системы массового участия. Предварительные выводы неутешительны: постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации глубокомысленных рассуждений.</p>
                        <p>Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями!</p>
                    </div>
                </section>
            </div>
        </div>

        <div class="default-ui_element">
            <div class="default-ui_header">
                <div class="default-ui_header_title">Quote</div>
                <button class="default-ui_header_copy">Копировать</button>
            </div>
            <div class="default-ui_element_content">
                <section class="quote" style="background-image: url(/images/flower-827001.png)">
                    <div class="wrapper">
                        <div class="quote_mark">
                            <img src="./images/quote-mark.png" alt="mark" />
                        </div>
                        <div class="quote_text">
                            Все мы гении. Но если вы будете судить рыбу по её способности взбираться на дерево, она проживёт всю жизнь, считая себя дурой.
                        </div>
                        <div class="quote_mark quote_mark--bottom">
                            <img src="./images/quote-mark.png" alt="mark" />
                        </div>
                        <div class="quote_author">Альберт Эйнштейн</div>
                    </div>
                </section>
            </div>
        </div>

        <div class="default-ui_element">
            <div class="default-ui_header">
                <div class="default-ui_header_title">List</div>
                <button class="default-ui_header_copy">Копировать</button>
            </div>
            <div class="default-ui_element_content">
                <section class="df-list">
                    <div class="wrapper">
                        <h1>ТЕКСТ №1</h1>
                        <h2>Подзаголовок</h2>
                        <h3>Раздел</h3>
                        <div class="df-list_ol">
                            <ol>
                                <li>Для современного мира внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании инновационных методов управления процессами. Кстати, сторонники тоталитаризма в науке призваны к ответу.</li>
                                <li>Для современного мира новая модель организационной деятельности обеспечивает актуальность системы массового участия. Предварительные выводы неутешительны: постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации глубокомысленных рассуждений.</li>
                                <li>Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями!</li>
                            </ol>
                            <ol>
                                <li>Для современного мира внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании инновационных методов управления процессами. Кстати, сторонники тоталитаризма в науке призваны к ответу.</li>
                                <li>Для современного мира новая модель организационной деятельности обеспечивает актуальность системы массового участия. Предварительные выводы неутешительны: постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации глубокомысленных рассуждений.</li>
                                <li>Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями!</li>
                            </ol>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="default-ui_element">
        <div class="default-ui_header">
            <div class="default-ui_header_title">TEXT PAGEQ</div>
            <button class="default-ui_header_copy">Копировать</button>
        </div>
        <div class="default-ui_element_content">
            <section class="img-text-block">
                <div class="wrapper">
                    <div class="img-text-block_title">ЗАГОЛОВОК</div>
                    <div class="img-text-block_main">
                        <div class="img-text-block_main_img-block">
                            <img src="./images/young-woman-1034449_1920%202.png" alt="img-block" />
                            <div class="img-text-block_main_img-block_author">Автор фотографии</div>
                            <div class="img-text-block_main_img-block_description">Описание фотографии</div>
                        </div>
                        <div class="img-text-block_main_text-block">
                            <p>Для современного мира внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании инновационных методов управления процессами. Кстати, сторонники тоталитаризма в науке призваны к ответу.</p>
                            <p>Для современного мира новая модель организационной деятельности обеспечивает актуальность системы массового участия. Предварительные выводы неутешительны: постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации глубокомысленных рассуждений.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="default-ui_element">
        <div class="default-ui_header">
            <div class="default-ui_header_title">ABOUT</div>
            <button class="default-ui_header_copy">Копировать</button>
        </div>
        <div class="default-ui_element_content">
            <section class="about about--light">
                <div class="wrapper">
                    <div class="about_description">
                        <div class="about_description_title">
                            <div class="about_description_name about_description_name--light">ЗАГОЛОВОК</div>
                        </div>
                        <div class="about_description_history about_description_history--light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et,
                        </div>
                    </div>
                    <div class="about_slider">
                        <div id="about-slider" class="carousel">
                            <div class="about_slider_item about_slider_item--light carousel__slide">
                                <div class="about_slider_item_icon">
                                    <img src="./images/Icon-about.png" alt="about_icon" />
                                </div>
                                <div class="about_slider_item_title">ОСНОВНЫЕ СВЕДЕНИЯ</div>
                                <div class="about_slider_item_text">Lorem ipsum dolor sit amet, </div>
                            </div>
                            <div class="about_slider_item about_slider_item--light carousel__slide">
                                <div class="about_slider_item_icon">
                                    <img src="./images/Icon-about.png" alt="about_icon" />
                                </div>
                                <div class="about_slider_item_title">ОСНОВНЫЕ СВЕДЕНИЯ</div>
                                <div class="about_slider_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </div>
                            </div>
                            <div class="about_slider_item about_slider_item--light carousel__slide">
                                <div class="about_slider_item_icon">
                                    <img src="./images/Icon-about.png" alt="about_icon" />
                                </div>
                                <div class="about_slider_item_title">ОСНОВНЫЕ СВЕДЕНИЯ</div>
                                <div class="about_slider_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </div>
                            </div>
                            <div class="about_slider_item about_slider_item--light carousel__slide">
                                <div class="about_slider_item_icon">
                                    <img src="./images/Icon-about.png" alt="about_icon" />
                                </div>
                                <div class="about_slider_item_title">ОСНОВНЫЕ СВЕДЕНИЯ</div>
                                <div class="about_slider_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </div>
                            </div>
                            <div class="about_slider_item about_slider_item--light carousel__slide">
                                <div class="about_slider_item_icon">
                                    <img src="./images/Icon-about.png" alt="about_icon" />
                                </div>
                                <div class="about_slider_item_title">ОСНОВНЫЕ СВЕДЕНИЯ</div>
                                <div class="about_slider_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </div>
                            </div>
                            <div class="about_slider_item about_slider_item--light carousel__slide">
                                <div class="about_slider_item_icon">
                                    <img src="./images/Icon-about.png" alt="about_icon" />
                                </div>
                                <div class="about_slider_item_title">ОСНОВНЫЕ СВЕДЕНИЯ</div>
                                <div class="about_slider_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </div>
                            </div>
                            <div class="about_slider_item about_slider_item--light carousel__slide">
                                <div class="about_slider_item_icon">
                                    <img src="./images/Icon-about.png" alt="about_icon" />
                                </div>
                                <div class="about_slider_item_title">ОСНОВНЫЕ СВЕДЕНИЯ</div>
                                <div class="about_slider_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="default-ui_element">
        <div class="default-ui_header">
            <div class="default-ui_header_title">ABOUT</div>
            <button class="default-ui_header_copy">Копировать</button>
        </div>
        <div class="default-ui_element_content">
            <section class="img-text-block">
                <div class="wrapper">
                    <div class="img-text-block_title">ЗАГОЛОВОК</div>
                    <div class="img-text-block_main">
                        <div class="img-text-block_main_text-block">
                            <p>Для современного мира внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании инновационных методов управления процессами. Кстати, сторонники тоталитаризма в науке призваны к ответу.</p>
                            <p>Для современного мира новая модель организационной деятельности обеспечивает актуальность системы массового участия. Предварительные выводы неутешительны: постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации глубокомысленных рассуждений.</p>
                        </div>
                        <div class="img-text-block_main_img-block">
                            <img src="./images/young-woman-1034449_1920%202.png" alt="img-block" />
                            <div class="img-text-block_main_img-block_author">Автор фотографии</div>
                            <div class="img-text-block_main_img-block_description">Описание фотографии</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
</body>
</html>